@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
 
}


.app-container {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 160px auto 100px;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
  grid-area: header;
}



header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

main {
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  grid-area: main;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.menber-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15PX 0;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

.member-item {
  padding: 0.25em;
}


footer {
  grid-area: footer;
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

.error {
  color: #e74c3c;
  text-align: center;
}